<a href="https://colab.research.google.com/github/cruzluismiguel/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pythin Indentation

In [3]:
#This is an example of Python Indentation

if 5 > 2:
  print("Five is greater than two")

Five is greater than two

Python Variable

In [13]:
x = 1
a, b = 0, -1
a = 9
c = "Sally"
c = "Danny"
print(a)
print(c)
c = "Maria"

9
Danny

Casting

In [10]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () function

In [12]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single Quote or Double Quote

In [14]:
f = "Maria"
print(f)
g = 'Anna'
print(g)

Maria
Anna

Multiple Variables

In [15]:
x, y, z = 4, 5, 6
print(x)
print(y)
print(z)

4
5
6

Single Value to Multiple Variables

In [16]:
x = y = z = "Lilo"
print(x)
print(y)
print(z)

Lilo

Output Variable using Print and +

In [20]:
s = "Python is"
t = "enjoying"
print("Python is" + " " + t)
print(s + ' ' + t)

Python is enjoying
Python is enjoying

Arithmetic Operation

In [33]:
x = 1
y = 2
sum = x + y
print(x)
print(y)

#modulo division
l = 4 % 2
print(l)
print("4 % 2", l)

k = 3 // 2
print("3 // 2 =", k)

1
2
0
4 % 2 0
3 // 2 = 1

Aasignment Operator

In [39]:
x= 1 
x += 1 #x = x + 1
print("x += 1 = ", x)

x += 1 =  2

Logical Operators

In [41]:
q = 1
r = 4

q > r and r == r

False