<a href="https://colab.research.google.com/github/cruzluismiguel/PLNG211-QC/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Writing your own function/conversion
def convert_to_celsius (fahrenheit):
  return (fahrenheit - 32) * 5/9

def convert_to_kelvin (fahrenheit):
  return ((fahrenheit - 32) * 5/9) + 273.15

fahrenheit = int(input())

print("Celcius", round(convert_to_celsius(fahrenheit),2))
print("Kelvin", round(convert_to_kelvin(fahrenheit),2))

100
Celcius 37.78
Kelvin 310.93

In [ ]:
def Name():
  pass

In [ ]:
def my_function(fname):
  return(fname + "Cruz")

print(my_function("Luis"))
print(my_function("Miguel"))
print(my_function("Cruz"))

LuisCruz
MiguelCruz
CruzCruz

In [ ]:
#Returns a value

def my_function(x):
  return(5 + x)

print(my_function(4))
print(my_function(5))
print(my_function(6))

9
10
11

In [30]:
#Exercise 1

print(min(2, 3, 4))
print(max(2, -3, 4, 7, -5))
print(max(2, -3, min(4, 7), -5))

2
7
4

In [31]:
#Exercise 2

def sum(number1, number2, number3):
  return (number1 + number2 + number3)

def average(number1, number2, number3):
  return ((number1 + number2 + number3) / 3)

def sumSquare(number1, number2, number3):
  return(pow(number1, 2) + pow(number2, 2) + pow(number3, 2))

number1 =int(input("Input number 1: "))
number2 =int(input("Input number 2: "))
number3 =int(input("Input number 3: "))

print("The sum of three numbers are: ", sum(number1, number2, number3))

print("The average of three numbers are: ", round(average(number1, number2, number3)))

print("The sum of square of three integers are: ", sumSquare(number1, number2, number3))

Input number 1: 10
Input number 2: 20
Input number 3: 30
The sum of three numbers are:  60
The average of three numbers are:  20
The sum of square of three integers are:  1400