<a href="https://colab.research.google.com/github/cruzluismiguel/PLNG211-QC/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Writing your own function/conversion
def convert_to_celsius (fahrenheit):
  return (fahrenheit - 32) * 5/9

def convert_to_kelvin (fahrenheit):
  return ((fahrenheit - 32) * 5/9) + 273.15

fahrenheit = int(input())

print("Celcius", round(convert_to_celsius(fahrenheit),2))
print("Kelvin", round(convert_to_kelvin(fahrenheit),2))

100
Celcius 37.78
Kelvin 310.93

In [ ]:
def Name():
  pass

In [15]:
def my_function(fname):
  return(fname + "Cruz")

print(my_function("Luis"))
print(my_function("Miguel"))
print(my_function("Cruz"))

LuisCruz
MiguelCruz
CruzCruz

In [12]:
#Returns a value

def my_function(x):
  return(5 + x)

print(my_function(4))
print(my_function(5))
print(my_function(6))

9
10
11